h2, h3 {
	font-size: 1.5rem;
}
h2{
	font-weight: bold;
}
header.home-header{
	padding-top: 100px !important;
	padding: 100px;
	line-height: 100px;
}
div.checkbox{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	border-radius: 10px;
}
div.checkbox > form{
  width: 500px;
  margin: 10px;
}
.name{
	color: rgb(30, 97, 240);
}
table{
	width: 100%
}
.home_checkbox{
	width: 100%;
}
button.sector_submit {
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
	width: 200px;
}
.report-summary{
	border-bottom: 1px solid #000;
	border-radius: 5px;
	width: 60%;
}
.reportHeader{
	color: #000;
	font-size: 2rem;
}
.searched-reports-div{
	padding-top: 100px;
}
.must-login, div.singleReport-body{
	padding-top: 100px;
}
.time{
	color: rgb(248, 85, 85)
}
.authorName{
	color: rgb(36, 65, 231)
}
div.singleReport{
	line-height: 2rem;
	width: 80%;
	margin: auto;
	padding: 3rem;
	font-size: larger;
	border-radius: 5px;
}
i:hover{
	cursor: pointer;
}
.small-letter{
	font-size: smaller;
}